{% extends 'base.html' %}

{% block content %}
    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mt-8 gap-12 h-100" role="alert">
                <p class="font-bold">Error!</p>
                <p class="block sm:inline">{{ error }}</p>
            </div>
        {% endfor %}
    {% endif %}

    <div class="grid grid-cols-1 md:grid-cols-2 gap-12 h-100">
        <!-- Image column -->
        <!-- Image column -->
        <div class="flex justify-center items-center h-100">
            <img src="/static/images/login_new.png" alt="Login Image" class="max-w-full h-24 rounded-full" style="height: 400px;">
        </div>


        <!-- Form column -->
        <div class="md:col-span-1 py-2 px-3 rounded-xl bg-white mt-8 gap-12" style="border-radius: 40px;">
            <h1 class="font-bold text-3xl text-center pb-5 shadow-md">Login</h1>
            
            <div class="w-full mt-10" style="height: 300px; gap: 200px;">
                <form method="post" class="shadow-md border border-gray-200 rounded px-8 pt-6 pb-8 mb-4 h-100">
                    {% csrf_token %}
                    {% for hidden_field in form.hidden_fields %}
                        {{ hidden_field.errors }}
                        {{ hidden_field }}
                    {% endfor %}

                    <!-- Username field -->
                    <div class="mb-4">
                        <label for="username" class="block text-gray-700 text-sm font-bold mb-2">Username:</label>
                        <input type="text" id="username" name="username" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                    </div>

                    <!-- Password field -->
                    <div class="mb-6">
                        <label for="password" class="block text-gray-700 text-sm font-bold mb-2">Password:</label>
                        <input type="password" id="password" name="password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                    </div>

                    <!-- Other form fields... -->

                    <div class="flex items-center justify-center w-full">
                        <button class="bg-blue-900 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                            Log In
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}