{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<section class="reviews-section section-padding">
    <div class="container">
        <div class="row gy-3">

            <div class="col-lg-12 col-12 text-center mb-5" style="color: white;">
                <h6 class="text-white">Reviews</h6>
                <h2 class="text-white">What people are saying...</h2>
            </div>

            {% for comment in comments %}
                <div class="col-lg-4 col-md-6 col-12 mb-4">
                    <div class="custom-block d-flex flex-column h-100">
                        <div class="custom-block-image-wrap text-center">
                            <span class="text-white">{{ comment.user.username }}</span>
                        </div>

                        <div class="custom-block-info flex-grow-1">
                            <div class="reviews-group mb-3">
                                <!-- Add any additional review-related content here if needed -->
                            </div>

                            <p class="mb-0">{{ comment.comment|truncatewords:30 }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

        {% if request.user.is_authenticated %}
        <div class="card m-2 bg-orange-300" style="background-color:#fed7aa; color: black;">
            <div class="card-body">
                <form class="text-black" method="post" action="{% url 'platform_comments' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {{ comment_form | crispy }}
                    <button class="btn btn-success" type="submit">Submit</button>
                </form>
            </div>
        </div>
        
        {% endif %}

    </div>
</section>

{% endblock %}
